*{
    box-sizing: border-box;
}
.body{
    /* background: #eee; */
    position: relative;
    display: flex;
    margin: 0;
}
body, html{
    height: 100vh;
    margin: 0;
    background: linear-gradient(125deg, #00103a 0%, #3e5f77 100%);
    /* transform: rotateZ(45deg); */
}
/* .sky-container{
    width: 500px;
    height: 500px; 
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
} */
.login{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.loginContainer{
    /* display: flex; */
    position: absolute;
    justify-content: center;
    background: #fff;
    height: 60vh;
    width: 50vh;
    border-radius: 70px;
    transform: translate(-75px,75px);
    background-color: #406b8a;
    box-shadow: -10px -5px 25px rgb(0, 0, 56);
    box-sizing: border-box;
    /* margin-top: 70px; */
}
.loginContainer h1{
    display: flex;
    position: relative;
    justify-items: center;
    font-size: 30px;
    width: 30vh;
    margin-top: 35px;
    margin-left: 70px;
    word-spacing: 5px;
    text-align: center;
     /* font-family: 'Indie Flower', cursive;  */
    font-family: 'Merienda', bold;
    text-shadow: 1px 1px 0 rgb(43, 99, 136);
}
.loginContainer .form-input{
    display: flex;  
    justify-content: center;
    width: 100%;
    margin: 20px 0 10px 0;
}
.loginContainer input[type="text"], input[type="password"]{
    border-radius: 10px;
    display: flex;
    outline: none;
    justify-content: center;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    width: 40vh;
    border: 1px solid rgba(0,0,0,.5);
    background: #bad3e6;
    font-size: 18px;
}
.loginContainer input[type="submit"]{
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    width: 140px;
    height: 40px;
    background: cadetblue;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}



/* ====== C O M E Ç O  E S T R E L A S ====== */

.starAlpha{
    position: absolute;
    top: 50%;
    left: 12%;
    height: 2px;
    /* magenta */
    background: linear-gradient(-45deg, orange, rgba(255, 145, 0, 0));
    filter: drop-shadow(0 0 6px rgb(255, 136, 0));
    animation: tail 3000ms ease-in-out infinite 3s , shooting 3000ms ease-in-out infinite 3s ;
}

.starAlpha::before, .starAplha::after{
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(255, 115, 0, 0), orange, rgba(255, 145, 0, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(115deg);
    animation: shining 3000ms ease-in-out infinite 3s;
}
/* , rotation 6000ms ease-in infinite 1s  */
.starAlpha::after{
    transform: translateX(50%) rotateZ(-100deg);
    animation: rotation 3000ms ease-in-out infinite 3s;
    animation-delay: 3s;
}
.star{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    /* magenta */
    background: linear-gradient(-45deg, magenta, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px rgb(216, 82, 216));
    animation: tail 3000ms ease-in-out infinite 3s , shooting 3000ms ease-in-out infinite 3s;
}
.star::before, .star::after{
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), magenta, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(100deg);
    animation: shining 3000ms ease-in-out infinite 3s;
}
.star::after{
    transform: translateX(50%) rotateZ(-45deg);
    animation-delay: 3s;
}

/* 
.starAlphaFixed{
    position: absolute;
    content: '';
    top: calc(40% - 200px);
    left: calc(30% - 300px);
    width: 7px;
    height: 7px;
    background: orange;
    animation: rotation 9000ms ease-in-out infinite 1s;
    border-radius: 5px;
    filter: blur(1px);
    /* transform: translateX(50%) rotateZ(100deg); */



.fixedStar{
    position: relative;
    width: 4px;
    height: 4px;
    top: calc(40% - 200px);
    left: calc(30% - 300px);
	color: #fff;
	background: linear-gradient(-100deg,darkred,lightgreen,orange,white,orange );
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
    border-radius: 30px;     
}
.fixedStar1{
    position: relative;
    width: 4px;
    height: 4px;
    top: calc(117% - 200px);
    left: calc(35% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, #74FF00, magenta,rgb(190, 190, 190),#FFE800);
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar2{
    position: relative;
    width: 4px;
    height: 4px;
    top: calc(60% - 200px);
    left: calc(75% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, white, orange,red,green);
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar3{
    position: relative;
    width: 5px;
    height: 5px;
    top: calc(95% - 200px);
    left: calc(65% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, magenta,orange,magenta,yellow);
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar4{
    position: relative;
    width: 3px;
    height: 3px;
    top: calc(80% - 200px);
    left: calc(40% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, rgb(255, 0, 212),darkblue,rgb(255, 0, 212),white,rgb(0, 174, 255));
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar5{
    position: relative;
    width: 4px;
    height: 4px;
    top: calc(45% - 200px);
    left: calc(50% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, seagreen,darkred,darkred,orange);
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar6{
    position: relative;
    width: 4px;
    height: 4px;
    top: calc(30% - 200px);
    left: calc(105% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, white, yellow, white, orange);
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar7{
    position: relative;
    width: 5px;
    height: 5px;
    top: calc(105% - 200px);
    left: calc(85% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, rgb(140, 140, 218),magenta,orange,yellow,red);
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 2s linear infinite;
}
.fixedStar8{
    position: relative;
    width: 6px;
    height: 6px;
    top: calc(80% - 200px);
    left: calc(90% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, rgb(255, 0, 212),darkblue,rgb(255, 0, 212),white,rgb(0, 174, 255));
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar9{
    position: relative;
    width: 4px;
    height: 4px;
    top: calc(55% - 200px);
    left: calc(60% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, rgb(255, 0, 212),darkblue,rgb(255, 0, 212),white,rgb(0, 174, 255));
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar10{
    position: relative;
    width: 5px;
    height: 5px;
    top: calc(60% - 200px);
    left: calc(30% - 300px);
	color: #fff;
	background: linear-gradient(-45deg, rgb(255, 0, 212),darkblue,rgb(255, 0, 212),white,rgb(0, 174, 255));
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar11{
    position: relative;
    width: 6px;
    height: 6px;
    top: calc(110% - 200px);
    left: calc(75% - 300px);
	color: #fff;
	background: linear-gradient(-45deg,lightblue,rgb(255, 0, 212),white,rgb(0, 174, 255),lightblue);
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
.fixedStar12{
    position: relative;
    width: 5px;
    height: 5px;
    top: calc(35% - 200px);
    left: calc(82% - 300px);
	color: #fff;
	background: linear-gradient(-45deg,orange,lightblue,rgb(255, 0, 212),white,rgb(0, 174, 255));
	background-size: 999% 1%;
    filter: brightness(70%);
    border-radius: 10px;
    animation: starLight 4s linear infinite;
}
/* .fixedAlphaStar{
    position: relative;
    width: 5px;
    height: 5px;
    top: calc(105% - 200px);
    left: calc(85% - 300px);
    color: orangered;
    background: linear-gradient(45deg, orangered, orange);
    border-radius: 10px;
    animation: starLight 10s linear infinite;
} */

.star:nth-child(1){
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    animation-delay: 3s;
}
.star:nth-child(1)::before, star:nth-child(1)::after{
    animation-delay: 3s;
} 


.star:nth-child(2){
    top: calc(25% - -50px);
    left: calc(50% - 630px);
    animation-delay: 3s;
}
.star:nth-child(2)::before, star:nth-child(2)::after{
    animation-delay: 3s;
} 


.star:nth-child(3){
    top: calc(25% - -90px);
    left: calc(35% - 60px);
    animation-delay: 3s;
}
.star:nth-child(3)::before, star:nth-child(3)::after{
    animation-delay: 3s;
} 


.star:nth-child(4){
    top: calc(20% - 50px);
    left: calc(40% - 250px);
    animation-delay: 3s;
}
.star:nth-child(4)::before, star:nth-child(4)::after{
    animation-delay: 3s;
} 


.star:nth-child(5){
    top: calc(50% - -190px);
    left: calc(35% - 340px);
    animation-delay: 3s;
}
.star:nth-child(5)::before, star:nth-child(5)::after{
    animation-delay: 3s;
} 
/* ====== F I M  E S T R E L A S ====== */

/*   ==== ==== ==== ==== ====*/

/* =====  Animações  ===== */

@keyframes tail{
    0%{
        width: 0;
    }
    30%{
        width: 100px;
    }
    100%{
        width: 0;
    }
}
@keyframes shining{
    0%{
        width: 0;
    }
    50%{
        width: 50px;
    }
    100%{
        width: 0;
    }
}
@keyframes shooting{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(320px);
    }
}  

@keyframes starLight {
	0% {
		background-position: 0% 50%
    }
    25% {
        background-position: 100% 50%;
        filter: brightness(50%);
	}
	50% {
		background-position: 0% 50%
    }
    75% {
        background-position: 100% 50%;
        filter: brightness(50%);
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes rotation{
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(90deg);
    }
    50%{
        transform: rotateZ(190deg)
    }
    75%{
        transform: rotateZ(270deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}